*{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body{
    display: grid;
    grid-template-columns: auto 400px 20px 400px auto;
    
}



h1{
    font-size: 22px;
    margin-left: 10px;
    margin-bottom: 0;
    color: rgb(56, 56, 56);
 
}

h2{
    color:grey;
    font-size: 16px;
    font-weight: lighter;
    margin-left: 10px;
    margin-top: 2px;
}

p {
    margin-left: 10px;
    color: rgb(94, 93, 93);

}

.box-1 {
    border: solid 1px lightgrey;
    border-radius: 10px;
    grid-column-start: 2;
    box-shadow: 1px 1px rgb(236, 235, 235);
}

.box-1 > img{
    display: block;
    float: right;
    margin: 10px 30px;
}

.box-2 {
    border: solid 1px lightgrey;
    border-radius: 10px;
    grid-column-start: 4;
    box-shadow: 1px 1px rgb(236, 235, 235);
}
.box-2 > img{
    display: block;
    float: right;
    margin: 10px 30px;
}   

.buttons{
    text-decoration:none;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    border-top: solid 1px rgb(224, 224, 224);
    padding: 10px 0px;
    margin-top: 30px;
    
   
}


span[value="approve"]{
    color: rgb(13, 212, 13);
    padding: 10px 50px;
    margin-right: 0;
    border-top: solid 2px rgb(13, 212, 13);
    border-left:solid 2px rgb(13, 212, 13);
    border-bottom: solid 2px rgb(13, 212, 13);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    
}

span[value="decline"]{
    color: red;
    margin-left: 0;
    padding: 10px 50px;
    border: solid 2px red;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    
}

